<div class="p-3 mb-2 bg-light text-dark">
  <h2 class="text-center">posts details </h2>
  <p class="text-center">
    <div class="shadow-lg p-3 mb-5 bg-white rounded container ">
      <div class="row justify-content-md-center">
        <div class="col align-self-center">
          <div class="card text-center">
            <div class="card-header">
              <%= @post.user.username if @post.user %>
            </div>
          <div class="card-body">
            <h5 class="card-title"><%= @post.name %></h5>
            <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=400x300&center=#{@post.latitude},#{@post.longitude}&key=#{Rails.application.credentials[:google_maps_api_key]}", alt: "Map" %>
            <p>
              <% if logged_in? && (@post.user == current_user) %>
                <%= link_to 'Edit', edit_post_path(@post), class:"btn btn-outline-success" %>
                <%= link_to 'Delete', post_path(@post), data: { "turbo-method": :delete },
                            class:"btn btn-outline-danger" %>
              <% end %>
            </p>
          </div>
            <div class="col-12 mt-3" id="new-comment">
              <%= render 'comments/form', object: @post %>
            </div>
            <div class="card-footer text-muted">
              <ul id="tweet-<%= @post.id %>-comments-container">
                <% @post.comments.reverse.each do |comment| %>
                  <li class="mb-3">

                    <%= render 'comments/show_comment', object: comment %>

                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


