<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-md-top">
  <div class="container-fluid ">
    <a class="navbar-brand" id="logo" href="#"><%= link_to "Home page", root_path,
                                                           class: "navbar-brand", id: "logo"%>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" id="toggle"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if logged_in? %>
          <li class="nav-item">
            <%= link_to "Posts ", posts_path, class: "text-dark navbar-brand " %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
               role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Users
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to "Users Show", users_path, class: " text-dark text-decoration-none" %></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        <% end %>
        </li>
        <li class="nav-item dropdown">
          <% if logged_in? %>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to "View your profile", user_path(current_user), class: "dropdown-item" %></li>
              <li><%= link_to "Edit your profile", edit_user_path(current_user), class: "dropdown-item" %></li>
            </ul>
            <li class="nav-item">
              <%= link_to 'Logout', logout_path, class: "nav-link", method: :delete %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Log in', login_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign up', signup_path, class: "nav-link" %>
            </li>
          <% end %>
          </ul>
    </div>
  </div>
</nav>